{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white" style="padding-top: 0px;">
  
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">My Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'car_home' %}">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'about' %}">Laptops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'books' %}">Books</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Forms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'laptop' %}">Laptop F</a></li>
            <li><a class="dropdown-item" href="{% url 'game' %}">Game F</a></li>
            <li><a class="dropdown-item" href="{% url 'car' %}">Car F</a></li>
            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact F</a></li>
            <li><a class="dropdown-item" href="{% url 'book' %}">Book F</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Loop -->
<div class="container mt-5">
    <h2 class="text-center mb-4 p-3">Cars Listing</h2>
    <div class="row">
        {% for car in cars %}
          <div class="col-md-4 mb-4">
          <div class="card card-hover-zoom bg-dark text-white shadow rounded-4 border-0 h-100"
          style="min-height: 500px;">    
<!--for when image is not add -->
        {% if car.image %}
    <img src="{{ car.image.url }}" class="card-img-top rounded-top-4" alt="{{ car.name }}" style="height: 250px; object-fit: cover;">
      {% else %}
    <div class="card-img-top rounded-top-4" style="height: 250px; background-color: #ccc; display: flex; align-items: center; justify-content: center;">
    <span>No Image Available</span>
    </div>
      {% endif %}
<!--end -->
    <div class="card-body">
      <h5 class="card-title">{{ car.name }}</h5>
      <p class="card-text"><strong>Model:</strong> {{ car.model }}</p>
      <p class="card-text"><strong>Engine:</strong> {{ car.engine }}</p>
      <p class="card-text"><strong>Engine Power:</strong> {{ car.enginepower }}</p>
      <p class="card-text"><strong>Price:</strong> {{ car.price }}</p>
      <p class="card-text"><strong>Made In:</strong> {{ car.madein }}</p>
      <p class="card-text"><strong>Top Speed:</strong> {{ car.topspeed }}</p>
      <p class="card-text"><small class="text-light">Posted on: {{ car.timeStamp|date:"M d, Y H:i" }}</small></p>
      <a href="{% url 'car_detail' car.id %}" class="btn btn-outline-light mt-auto">Car Detail {{ car.id }}</a>
    </div>
  </div>
</div>
      {% empty %}
        <p class="text-center">No cars available.</p>
      {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
