{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Koenigsegg</title>
  <link rel="icon" type="image/png" href="{% static 'K-logo.jpg' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">

    <style>
        .car{
            text-align: center;
            font-size: 40px;
            color: #ffffff;
            font-family: cursive;
        }

        .para{
            color: #ffffff;
            font-size: xx-large;
            margin-left: 3%;
            margin-right: 2%;
            margin-top: 3%;
        }
    </style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">My Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'car_home' %}">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'about' %}">Laptops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'books' %}">Books</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Forms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'laptop' %}">Laptop F</a></li>
            <li><a class="dropdown-item" href="{% url 'game' %}">Game F</a></li>
            <li><a class="dropdown-item" href="{% url 'car' %}">Car F</a></li>
            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact F</a></li>
            <li><a class="dropdown-item" href="{% url 'book' %}">Book F</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <h1 style="font-size: 30px; text-align: center; padding: 5px; color: #e7d9d9;margin-bottom: auto;"><b><b>Welcome</b><b></h1>
  </div>
<div class="container">
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
       <a href="home">
      <img src="{% static 'game.jpg' %}" class="d-block w-100" style="display: block; margin: 0 auto; border-radius: 2%; height: 560px;" alt="game">
       </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Click for more info</h5>
        <p>About Games</p>
      </div>
    </div>

    <div class="carousel-item">
       <a href="car_home">
      <img src="{% static 'car.jpg' %}" class="d-block w-100" style="display: block; margin: 0 auto; border-radius: 2%; height: 560px;" alt="car">
       </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Click for more info</h5>
        <p>About Cars</p>
      </div>
    </div>

    <div class="carousel-item">
       <a href="books">
      <img src="{% static 'bok.jpeg' %}" class="d-block w-100" style="display: block; margin: 0 auto; border-radius: 2%; height: 560px;" alt="book">
    </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Click for more info</h5>
        <p>About Books</p>
      </div>
    </div>

    <div class="carousel-item">
       <a href="about">
      <img src="{% static 'lap.jpg' %}" class="d-block w-100" style="display: block; margin: 0 auto; border-radius: 2%; height: 560px;" alt="lap">
       </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Click for more info</h5>
        <p>About Laptops</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>




 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>